body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    border-radius: 0;
    border-color: #007bff;
}

input[type="text"]:focus {
    border-color: #0056b3;
    box-shadow: none;
}

input[type="text"], .btn {
    border-radius: 0;
}

.btn {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.list-group-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
}

.list-group-item button:hover {
    background-color: #b32d3b;
}
